* {
    box-sizing: border-box;
  }
  
  /* Add a gray background color with some padding */
  body {
    font-family: Arial;
    /* padding: 20px; */
  background: #ebecec;
  
  }
 
  
  /* Header/Blog Title */
  .header {
    padding: 20px;
    font-size: 40px;
    text-align: center;
    background: white;
     background-image: url(/img/1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px; 
  width: 1460;
  opacity: 80%;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
   
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 50%;
  }
  
  .leftcolumn1{   
    float: left;
    width: 50%;
    /* padding-left: 10px; */
  }
  /* Right column */
  .rightcolumn {
    float: left;
    width: 50%;
    padding-left: 10px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    /* padding: 20px; */
  }
  
  /* Add a card effect for articles */
  .card {
     background-color: rgb(255, 255, 255);
     padding: 10px;
     margin-top: 10px;
     height: 420px;
     border-radius: 10px;
  }
 
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: left;
    background: rgb(255, 255, 255);
    margin-top: 30px;
  
    font-size: 15px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn1, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }

  
 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #ffffff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: rgb(0, 0, 0);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(255, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  /* padding: 2px 16px; */
  background-color: #ffffff;
  color: white;
}

.modal-body {padding: 2px 16px;}

